* {
	margin:0;
	padding:0;
}
body {
	background:#000;
	color:#00B9F2;
	font-size:1em;
}
a {
	color:#CCC;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
code {
	background:#111;
}
pre {
	display:block;
	white-space:pre;
	background:#111;
	color:#00B9F2;
	border:0.1em solid #DDD;
	padding:0.3em;
	margin:0.3em;
	overflow:auto;
}

.assistive-text {
	display:none;
}
#header {
	background:#001994;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #001994 0%, #005C87 100%);

	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #001994 0%, #005C87 100%);

	/* Opera */
	background-image: -o-linear-gradient(top, #001994 0%, #005C87 100%);

	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005C87), color-stop(1, #001994));

	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #001994 0%, #005C87 100%);

	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #001994 0%, #005C87 100%);
}
#site-title {
	color:#DDD;
	text-shadow: 0.1em 0.1em 0.2em #000;
}
#site-title a {
	color:#DDD;
	text-decoration:none;
}
#site-description {
	color:#DDD;
	padding:0 0 0 2em;
	text-shadow: 0.1em 0.1em 0.2em #000;
}
#mainmenu {
	clear:both;
}
#menu {
	background:#131363;
}
#menu li {
	padding:0 1em;
	display:inline-block;
}
#menu a {
	color:#DDD;
	text-shadow: 0.1em 0.1em 0.2em #000;
}
#content {
	padding:2em;
}
.pnnav {
	font-size:0.6em;
	margin-bottom:0.3em;
}
.nav-next {
	margin-left:1em;
}
.entry-meta {
	color:#00B9F2;
	font-size:0.7em;
	padding:0.3em;
	margin:0.3em;
}
footer.entry-meta {
	background:#222;
	border:0.1em solid #000;
}
.entry-meta a {
	color:#BBB;
}

#content header h1 {
	font-weight:bold;
	font-size:1.3em;
	padding: 0 0 1em 0;
}

.listing {
	padding: 0 0 1em 0;
}

.entry-content li {
	margin-left:2.5em;
}
.entry-content h1 {
	font-weight:bold;
	font-size:1.2em;
	padding: 0.5em 0;
}
.entry-content h2 {
	font-weight:bold;
	font-size:1.2em;
	padding: 0.5em 0;
}
.entry-content h3 {
	font-weight:bold;
	font-size:1.1em;
	padding: 0.5em 0;
}
.entry-content h4 {
	font-weight:bold;
	font-size:1.1em;
	padding: 0.5em 0;
}
.entry-content h5 {
	font-weight:bold;
	font-size:1.1em;
	padding: 0.5em 0;
}
.entry-content h6 {
	font-weight:bold;
	font-size:1.1em;
	padding: 0.5em 0;
}
.entry-content p {
	padding:0.5em 0;
}
.entry-content a {
	text-decoration:underline;
}
.entry-content a.anchor {
	text-decoration:none;
}
.entry-content a:hover {
	text-decoration:none;
}
