{{ partial "header.html" . }}
{{ $baseURL := .Site.BaseURL }}
<article>
	<header>
		<h1>{{ .Params.h1 }}</h1>

		<div class="entry-meta">
		<span class="sep">Posted on </span><a href="" title="{{ .Date.Format "January 2, 2006" }}" rel="bookmark"><time datetime="{{ .Date.Format "January 2, 2006" }} ">{{ .Date.Format "January 2, 2006" }} </time></a>
		</div>
	</header>

	<div class="entry-content">
		{{ .Content }}
	</div>

	<footer class="entry-meta">
	This entry was posted in. Bookmark the <a href="{{ .Permalink }}" title="Permalink to {{ .Params.h1 }}" rel="bookmark">permalink</a>.
	</footer>
</article>
{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
