<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css">
<meta name="description" content="{$description}">
</head>
<body>
<header id="header">
	<hgroup>
		<h1 id="site-title"><a href="{{ .Site.BaseURL }}" title="Matt" rel="home">Matt</a></h1>
		<h2 id="site-description">Geek, Coder, Reader, Gamer</h2>
	</hgroup>


	<nav id="mainmenu" role="navigation">
		<h3 class="assistive-text">Main menu</h3>
		<div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
		<ul id="menu">
			<li><a href="{{ .Site.BaseURL }}" title="Home">Home</a></li>
			<li><a href="{{ .Site.BaseURL }}about.html">About</a></li>
			<li><a href="{{ .Site.BaseURL }}license.html">License</a></li>
			<li><a href="{{ .Site.BaseURL }}projects.html">Projects</a></li>
		</ul>
	</nav>
</header>


<div id="content" role="main">
{{ partial "pagination.html" . }}
