{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pnnav">
	<h3 class="assistive-text">Post navigation</h3>
	{{ if .Paginator.HasPrev }}
	<span class="nav-previous"><a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}" rel="prev"><span class="meta-nav">&larr;</span> Previous</a></span>
	{{ end }}
	{{ if .Paginator.HasNext }}
	<span class="nav-next"><a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}" rel="next">Next <span class="meta-nav">&rarr;</span></a></span>
	{{ end }}
</nav>
{{ end }}
